<a href="https://colab.research.google.com/github/SamF543/Module_2/blob/main/Files_Manipulation_Module_2_Practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.&nbsp;Set Up

This is an adaption from Sparow to Google Collab

In [ ]:
# Import Libraries
import os
import glob
import shutil
import sys
from pathlib import Path
import pandas as pd

In [ ]:
# Accessing Google Drive from Google Colab

from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# 2.&nbsp;Paths : CWD, Absolute vs Relative paths

## CWD: current working directory

In [ ]:
# get absolute path to current working directory


print('The current working directory is : ')
os.getcwd()

The current working directory is :

'/content/gdrive/My Drive'

In [ ]:
# save current working directory as cwd

#change directory to 'Excel_Automation_Python' folder

cwd = os.getcwd()
cwd

'/content/gdrive/My Drive'

In [ ]:
# List all files and directories in current directory

os.listdir('.') #  ==> we have 3 directories : config, gdrive, sample_data and other files

['Colab Notebooks', 'Module_2']

In [ ]:
# just in case if you rerun the notebook and you already have the excel files uploaded
# ..comment out an run this cell evetually

# os.unlink('UK_old.xlsx')
# os.unlink('UK.xlsx')
# os.unlink('FR.xlsx')
# os.unlink('DE.xlsx')

In [ ]:
# check containing in sample_data directory

print(os.listdir('sample_data'))

['README.md', 'anscombe.json', 'mnist_test.csv', 'california_housing_test.csv', 'mnist_train_small.csv', 'california_housing_train.csv']

In [ ]:
# check containing in 'gdrive' directory

print(os.listdir('gdrive'))

['MyDrive', '.shortcut-targets-by-id', '.file-revisions-by-id', '.Trash-0']

In [ ]:
# check containing in 'MyDrive' directory  in gdrive' folder

print(os.listdir('gdrive/MyDrive'))

['Colab Notebooks', 'Raw_Excel_Files', 'UK.xlsx', 'FR.xlsx', 'DE.xlsx', 'UK_old.xlsx', 'Processed_Files', 'Module_2']

In [ ]:
# os.unlink('gdrive/MyDrive/UK_old.xlsx')
# os.unlink('gdrive/MyDrive/UK.xlsx')
# os.unlink('gdrive/MyDrive/FR.xlsx')
# os.unlink('gdrive/MyDrive/DE.xlsx')

## Paths: Absolute & Relative

**Absolute file paths** are notated by a leading forward slash or drive label. For example, /home/example_user/example_directory or C:/system32/cmd.exe. An absolute file path describes how to access a given file or directory, starting from the root of the file system. A file path is also called a pathname.

In [ ]:
# check conaining in directory with aboslute path

# containing of '/content' directory
print('In content directory we have : ', os.listdir('/content')) 

# containing of 'gdrive' directory
print('In gdrive directory we have : ', os.listdir('/content/gdrive')) 

# containing of 'gdrive/MyDrive' directory
print('In gdrive/MyDrive directory we have : ', os.listdir('/content/gdrive/MyDrive'))

# containing of 'gdrive/MyDrive/Colab Notebooks' directory
print('In gdrive/MyDrive/Colab Notebooks directory we have : ', os.listdir('/content/gdrive/MyDrive/Colab Notebooks'))

In content directory we have :  ['.config', 'gdrive', 'sample_data']
In gdrive directory we have :  ['MyDrive', '.shortcut-targets-by-id', '.file-revisions-by-id', '.Trash-0']
In gdrive/MyDrive directory we have :  ['Colab Notebooks', 'Raw_Excel_Files', 'UK.xlsx', 'FR.xlsx', 'DE.xlsx', 'UK_old.xlsx', 'Processed_Files', 'Module_2']
In gdrive/MyDrive/Colab Notebooks directory we have :  ['Untitled0.ipynb', 'Untitled1.ipynb', 'Python_Basics_Module_1_Practice.ipynb', 'Sam Python_Basics_Module_1_Practice.ipynb', 'Copy of Files_Manipulation_Module_2 (2).ipynb', 'Copy of Files_Manipulation_Module_2 (1).ipynb', 'Copy of Files_Manipulation_Module_2.ipynb', 'Copy of Files_Manipulation_Module_2_Practise.ipynb', 'Python_Basics_Module_1.ipynb', 'Python_Basics_Module_1_practice (1).ipynb', 'Python_Basics_Module_1_practice.ipynb', 'Copy of Python_Basics_Module_1_practice (1).ipynb', 'Copy of Copy of Python_Basics_Module_1_practice.ipynb', 'Copy of Python_Basics_Module_1_practice.ipynb', 'Copy of Copy_of_Python_Basics_Module_1_practice (1).ipynb', 'Files_Manipulation_Module_2.ipynb', 'Files_Manipulation_Module_2_Practise.ipynb', 'Copy of Copy_of_Python_Basics_Module_1_practice.ipynb', 'Copy_of_Python_Basics_Module_1_practice.ipynb']

In [ ]:
# the absolute path for MyDrive directory is :

absolute_path = '/content/gdrive/MyDrive'
absolute_path

'/content/gdrive/MyDrive'

**Relative file paths** are notated by a lack of a leading forward slash. For example, example_directory. A relative file path is interpreted from the perspective your current working directory. If you use a relative file path from the wrong directory, then the path will refer to a different file than you intend, or it will refer to no file at all.

In [ ]:
# relative path don't need to use the whole absolute path, only path after the current directory path

print("our courrent working directory is: ", cwd)
print('')

print("absolute path to MyDrive: ", absolute_path)
print('')

# the relative path for MyDrive directory, (we won't need to add /content/ in the path)
relative_path = 'gdrive/MyDrive'
print("relative path to MyDrive: ", relative_path)

our courrent working directory is:  /content

absolute path to MyDrive:  /content/gdrive/MyDrive

relative path to MyDrive:  gdrive/MyDrive

In [ ]:
# delete a notebook from Colab Notebook ==> Name_Notebook.ipynb after '/content/gdrive/MyDrive/Colab Notebooks/ + Name_Notebook.ipynb'

# os.unlink('/content/gdrive/MyDrive/Colab Notebooks/Copy of Fille_Manipulation_Module_2_Practice.ipynb') # relative path as UK_old in the working directory

## Import files

In [ ]:
# import files into google Colab
from google.colab import files

In [ ]:
# upload excels from your downloads : excel files "DE.xlsx", 'UK.xlsx", 'FR.xlsx' and 'UK_old.xlsx'
# ... the ones you downloaded from github https://github.com/datalover2023/Module_2


uploaded = files.upload()

Saving DE.xlsx to DE.xlsx
Saving FR.xlsx to FR.xlsx
Saving UK.xlsx to UK.xlsx
Saving UK_old.xlsx to UK_old.xlsx

In [ ]:
# List all files and directories in current directory
# you can see that the excel files were upload in your cwd

os.listdir('.')

['.config',
 'UK_old.xlsx',
 'gdrive',
 'DE.xlsx',
 'FR.xlsx',
 'UK.xlsx',
 'sample_data']

# 3.&nbsp;Folder hierarchy tree

To have a better feeling of the containing of your current working directory (cwd), it will be good to visualize the files hierarchy / organization in a single glimpse.

To do so, here below the creation of the function **folder_tree()** that will help us to do so

**folder_tree()**

In [ ]:
# create a function << folder tree >> to display the the hierarchy of your cwd

def folder_tree(folder):
    for dirpath, dirs, files in os.walk(cwd):	 
        if 'checkpoints' not in dirpath:
                path = dirpath.split('/')     
                print ('|', (len(path))*'--', '>',os.path.basename(dirpath),':')
                for f in files:
                    print ('|', len(path)*'------', f)

In [ ]:
# call function folder_tree on your cwd

folder_tree(cwd)

| ---- > content :
| ------------ UK_old.xlsx
| ------------ DE.xlsx
| ------------ FR.xlsx
| ------------ UK.xlsx
| ------ > .config :
| ------------------ .last_opt_in_prompt.yaml
| ------------------ config_sentinel
| ------------------ active_config
| ------------------ .last_update_check.json
| ------------------ gce
| ------------------ .last_survey_prompt.yaml
| -------- > configurations :
| ------------------------ config_default
| -------- > logs :
| ---------- > 2023.03.09 :
| ------------------------------ 18.58.08.382774.log
| ------------------------------ 18.56.44.754561.log
| ------------------------------ 18.58.07.603569.log
| ------------------------------ 18.57.10.794840.log
| ------------------------------ 18.57.42.956897.log
| ------------------------------ 18.57.34.727219.log
| ------ > gdrive :
| -------- > MyDrive :
| ------------------------ UK.xlsx
| ------------------------ FR.xlsx
| ------------------------ DE.xlsx
| ------------------------ UK_old.xlsx
| ---------- > Colab Notebooks :
| ------------------------------ Untitled0.ipynb
| ------------------------------ Untitled1.ipynb
| ------------------------------ Python_Basics_Module_1_Practice.ipynb
| ------------------------------ Sam Python_Basics_Module_1_Practice.ipynb
| ------------------------------ Copy of Files_Manipulation_Module_2 (2).ipynb
| ------------------------------ Copy of Files_Manipulation_Module_2 (1).ipynb
| ------------------------------ Copy of Files_Manipulation_Module_2.ipynb
| ------------------------------ Copy of Files_Manipulation_Module_2_Practise.ipynb
| ------------------------------ Python_Basics_Module_1.ipynb
| ------------------------------ Python_Basics_Module_1_practice (1).ipynb
| ------------------------------ Python_Basics_Module_1_practice.ipynb
| ------------------------------ Copy of Python_Basics_Module_1_practice (1).ipynb
| ------------------------------ Copy of Copy of Python_Basics_Module_1_practice.ipynb
| ------------------------------ Copy of Python_Basics_Module_1_practice.ipynb
| ------------------------------ Copy of Copy_of_Python_Basics_Module_1_practice (1).ipynb
| ------------------------------ Files_Manipulation_Module_2.ipynb
| ------------------------------ Files_Manipulation_Module_2_Practise.ipynb
| ------------------------------ Copy of Copy_of_Python_Basics_Module_1_practice.ipynb
| ------------------------------ Copy_of_Python_Basics_Module_1_practice.ipynb
| ---------- > Raw_Excel_Files :
| ------------------------------ UK.xlsx
| ------------------------------ FR.xlsx
| ------------------------------ DE.xlsx
| ------------------------------ UK_old.xlsx
| ---------- > Processed_Files :
| ------------------------------ uk_df.xlsx
| ------------------------------ Consolidated_by_sheet.xlsx
| ------------------------------ Consolidation.xlsx
| ---------- > Module_2 :
| -------- > .shortcut-targets-by-id :
| -------- > .file-revisions-by-id :
| -------- > .Trash-0 :
| ---------- > files :
| ---------- > info :
| ------ > sample_data :
| ------------------ README.md
| ------------------ anscombe.json
| ------------------ mnist_test.csv
| ------------------ california_housing_test.csv
| ------------------ mnist_train_small.csv
| ------------------ california_housing_train.csv

**folder_tree_2()**

In [ ]:
# another way to explore your folder/files 
# create function << folder_tree_2 >>


def folder_tree_2(folder):
    for dirPath, dirNames, fileNames in os.walk(cwd, topdown=True):
        if 'checkpoints' not in dirPath:
            print("Directory Path: ", dirPath) 
            print(len(dirNames), "Directories = ", dirNames )
            print(len(fileNames), "Files = ", fileNames )
            print('-'*10)

In [ ]:
# call function << folder_tree_2 >> on your cwd
# it will return all Directory Paths with contained sub_directories and files
# nb of sub_directories and files

folder_tree_2(cwd)

Directory Path:  /content
3 Directories =  ['.config', 'gdrive', 'sample_data']
0 Files =  []
----------
Directory Path:  /content/.config
2 Directories =  ['configurations', 'logs']
6 Files =  ['.last_opt_in_prompt.yaml', 'config_sentinel', 'active_config', '.last_update_check.json', 'gce', '.last_survey_prompt.yaml']
----------
Directory Path:  /content/.config/configurations
0 Directories =  []
1 Files =  ['config_default']
----------
Directory Path:  /content/.config/logs
1 Directories =  ['2023.03.09']
0 Files =  []
----------
Directory Path:  /content/.config/logs/2023.03.09
0 Directories =  []
6 Files =  ['18.58.08.382774.log', '18.56.44.754561.log', '18.58.07.603569.log', '18.57.10.794840.log', '18.57.42.956897.log', '18.57.34.727219.log']
----------
Directory Path:  /content/gdrive
4 Directories =  ['MyDrive', '.shortcut-targets-by-id', '.file-revisions-by-id', '.Trash-0']
0 Files =  []
----------
Directory Path:  /content/gdrive/MyDrive
4 Directories =  ['Colab Notebooks', 'Raw_Excel_Files', 'Processed_Files', 'Module_2']
4 Files =  ['UK.xlsx', 'FR.xlsx', 'DE.xlsx', 'UK_old.xlsx']
----------
Directory Path:  /content/gdrive/MyDrive/Colab Notebooks
0 Directories =  []
19 Files =  ['Untitled0.ipynb', 'Untitled1.ipynb', 'Python_Basics_Module_1_Practice.ipynb', 'Sam Python_Basics_Module_1_Practice.ipynb', 'Copy of Files_Manipulation_Module_2 (2).ipynb', 'Copy of Files_Manipulation_Module_2 (1).ipynb', 'Copy of Files_Manipulation_Module_2.ipynb', 'Copy of Files_Manipulation_Module_2_Practise.ipynb', 'Python_Basics_Module_1.ipynb', 'Python_Basics_Module_1_practice (1).ipynb', 'Python_Basics_Module_1_practice.ipynb', 'Copy of Python_Basics_Module_1_practice (1).ipynb', 'Copy of Copy of Python_Basics_Module_1_practice.ipynb', 'Copy of Python_Basics_Module_1_practice.ipynb', 'Copy of Copy_of_Python_Basics_Module_1_practice (1).ipynb', 'Files_Manipulation_Module_2.ipynb', 'Files_Manipulation_Module_2_Practise.ipynb', 'Copy of Copy_of_Python_Basics_Module_1_practice.ipynb', 'Copy_of_Python_Basics_Module_1_practice.ipynb']
----------
Directory Path:  /content/gdrive/MyDrive/Raw_Excel_Files
0 Directories =  []
4 Files =  ['UK.xlsx', 'FR.xlsx', 'DE.xlsx', 'UK_old.xlsx']
----------
Directory Path:  /content/gdrive/MyDrive/Processed_Files
0 Directories =  []
3 Files =  ['uk_df.xlsx', 'Consolidated_by_sheet.xlsx', 'Consolidation.xlsx']
----------
Directory Path:  /content/gdrive/MyDrive/Module_2
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/gdrive/.shortcut-targets-by-id
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/gdrive/.file-revisions-by-id
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/gdrive/.Trash-0
2 Directories =  ['files', 'info']
0 Files =  []
----------
Directory Path:  /content/gdrive/.Trash-0/files
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/gdrive/.Trash-0/info
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/sample_data
0 Directories =  []
6 Files =  ['README.md', 'anscombe.json', 'mnist_test.csv', 'california_housing_test.csv', 'mnist_train_small.csv', 'california_housing_train.csv']
----------

# 4.&nbsp;Looking for Files with extensions

In [ ]:
# create a list  "excel_files" with all files that have the extension excel_files in the working directory

excel_files=[]
for file in os.listdir('.'):
    if file.endswith('.xlsx'): # or '.csv' if your'looinkg for csv files
            excel_files.append(file)
            
# it will print out excel names present in current directory folder = 'Basics_Python"
print( 'there are', len(excel_files), "excel files: ")
excel_files

there are 4 excel files:

['UK_old.xlsx', 'DE.xlsx', 'FR.xlsx', 'UK.xlsx']

In [ ]:
# check the absolute path of all excel files

# we'll use "glob" package that works with file paths
# glob package is usefull to return all file paths that match a specific pattern

# create a list where are stored the paths of every excel file

# in the working directory here stored in the variable cwd... 
# find all files that have the extension .xlsx ...
# and then concatenate the working directory path + excel file name ...
# we will obtain the absolute path to each excel file ...
# and then store them all into a list called "filespaths"


# create a list that from cwd, will pick up every the ABSOLUTE PATH for files with extention .xlsx
filespaths = glob.glob(cwd + "/*.xlsx")  
print(filespaths)
print("")

# print out excel paths one by one
print('File names with their paths:')
for path in filespaths:
    print(path)

['/content/UK_old.xlsx', '/content/DE.xlsx', '/content/FR.xlsx', '/content/UK.xlsx']

File names with their paths:
/content/UK_old.xlsx
/content/DE.xlsx
/content/FR.xlsx
/content/UK.xlsx

# 4.&nbsp;Change working directory

In [ ]:
# our cwd for now is /content directory
cwd

'/content'

In [ ]:
# if you want to change the current working directory (cwd) 

# change cwd to folder MyDrive (that is in directory content/gdrive)
os.chdir('gdrive/MyDrive')
# check the new current working directory now
cwd = os.getcwd()
cwd

'/content/gdrive/MyDrive'

In [ ]:
# List all files and directories in the new current directory << MyDrive >>
os.listdir('.')

['Colab Notebooks',
 'Raw_Excel_Files',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'UK_old.xlsx',
 'Processed_Files',
 'Module_2']

# 5.&nbsp;Manipulate Directories

## Create a new folder

In [ ]:
# create a new folder called "Raw_Files"

# First: 
# write the path to the "Raw_Files" sub_directory
folder = cwd + '/' + 'Raw_Files' # == > /content/gdrive/MyDrive/Raw_Files
print(folder)

/content/gdrive/MyDrive/Raw_Files

In [ ]:
# Second:
# create the folder at the indicated path
os.makedirs(folder) # create an empty folder called << Raw_Files >>

In [ ]:
# now check the sub_directories in cwd with os.listdir()

os.listdir('.')

['Colab Notebooks',
 'Raw_Excel_Files',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'UK_old.xlsx',
 'Processed_Files',
 'Module_2',
 'Raw_Files']

## Rename Folders

In [ ]:
# rename folder <<Raw_Files>> in  <<Raw_Excel_Files folder>>

new_name= 'Raw_Excel_Files' # variable containing the new name value

os.rename(folder, new_name) # it will rename "Raw_Files" into 'Raw_Excel_Files'

# now check the sub_directories in cwd with os.listdir()

os.listdir('.')

['Colab Notebooks',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'UK_old.xlsx',
 'Processed_Files',
 'Module_2',
 'Raw_Excel_Files']

## Nested Folders

In [ ]:
# Create a nested folder (folder in the folder)

other = cwd + '/' + 'New_Folder' + '/' +'Inner_folder' 
os.makedirs(other)
other # the folder "New_Folder" will contain another empty folder "Inner Folder"

'/content/gdrive/MyDrive/New_Folder/Inner_folder'

In [ ]:
# now check the sub_directories in cwd with os.listdir()

os.listdir('.')

['Colab Notebooks',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'UK_old.xlsx',
 'Processed_Files',
 'Module_2',
 'Raw_Excel_Files',
 'New_Folder']

## Navigate in tree hierarchy

In [ ]:
cwd

'/content/gdrive/MyDrive'

In [ ]:
# list all files in the current directoy "MyDrive"

os.listdir('.')

['Colab Notebooks',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'UK_old.xlsx',
 'Processed_Files',
 'Module_2',
 'Raw_Excel_Files',
 'New_Folder']

In [ ]:
# list files inside a specific folder (get children)

print (os.listdir('New_Folder'))

['Inner_folder']

In [ ]:
# get parent of a scpecific folder (go back with 1 level)

# save relative path to Inner_Folder
new_folder = 'New_Folder/Inner_Folder' 

# prit parent of Inner_Folder
print(Path(new_folder).parents[0])

New_Folder

In [ ]:
# get grand parent of a scpecific folder (go up with 2 levels)

print(Path(new_folder).parents[1])

.

In [ ]:
# move up in the hierarchy to list the files from the upper level 

os.listdir('..')

['MyDrive', '.shortcut-targets-by-id', '.file-revisions-by-id', '.Trash-0']

## Paths to the folders

In [ ]:
# our current working directory now is
cwd

'/content/gdrive/MyDrive'

In [ ]:
# Find Paths

# Absolute path ==> the whole path with the file name included
print('Absolute path of file:      ',  os.path.abspath('Raw_Excel_Files'))

# Absolute directoryname ==> upper directories (parents)
print('Abs. path of the file dir.: ',  os.path.dirname(os.path.abspath('Raw_Excel_Files')))

# relative path ==> only the final file name
print('Relative path of file:      ', os.path.relpath('Raw_Excel_Files') )

Absolute path of file:       /content/gdrive/MyDrive/Raw_Excel_Files
Abs. path of the file dir.:  /content/gdrive/MyDrive
Relative path of file:       Raw_Excel_Files

# 6.&nbsp;Copy File

In [ ]:
# reminder of containing in cwd: MyDrive

os.listdir('.')

['Colab Notebooks',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'UK_old.xlsx',
 'Processed_Files',
 'Module_2',
 'Raw_Excel_Files',
 'New_Folder']

## Copy a single file

In [ ]:
# reminder of the containing of /content directory
# the imported excel files are in this directory 

os.listdir('/content')

['.config',
 'UK_old.xlsx',
 'gdrive',
 'DE.xlsx',
 'FR.xlsx',
 'UK.xlsx',
 'sample_data']

In [ ]:
# the absolute path to those excels:

# ['/content/DE.xlsx', '/content/UK.xlsx', '/content/FR.xlsx', '/content/UK_old.xlsx']

# DE.xlsx
print(os.path.abspath('/content/DE.xlsx'))

# UK.xlsx
print(os.path.abspath('/content/UK.xlsx'))

# FR.xlsx
print(os.path.abspath('/content/FR.xlsx'))

# UK_old.xlsx
print(os.path.abspath('/content/UK_old.xlsx'))

/content/DE.xlsx
/content/UK.xlsx
/content/FR.xlsx
/content/UK_old.xlsx

In [ ]:
# copy one file in another folder

# we want to copy UK.xlsx file from content dir  in 'Raw_Excel_Files' folder

# destination WHERE we want to copy 
dest = 'Raw_Excel_Files'

# source file : WHAT we want to copy
src=  '/content/UK.xlsx' # source ==> the path to the file that we want to copy (we use absoute path as UK.xlsx is outside cwd)

In [ ]:
# work with shutil package
''' Shutil module offers high-level operation on a file like a copy, create, move
and remote operation on the file '''

#  copy the file from the source <<src>> in the folder we want << dest >>
shutil.copy(src, # what file we want to copy, more specifically its path
            dest) # path to the folder we want to paste the copied file

'Raw_Excel_Files/UK.xlsx'

In [ ]:
# file that we want to copy : FR.xlsx
src='/content/FR.xlsx'

# copy the file in the folder we want
shutil.copy(src, dest)

'Raw_Excel_Files/FR.xlsx'

In [ ]:
# file that we want to copy : DE.xlsx
src='/content/DE.xlsx'

# copy the file in the folder we want
shutil.copy(src, dest)

'Raw_Excel_Files/DE.xlsx'

In [ ]:
# file that we want to copy : DE.xlsx
src='/content/UK_old.xlsx'

# copy the file in the folder we want
shutil.copy(src, dest)

'Raw_Excel_Files/UK_old.xlsx'

In [ ]:
# and now look at the containing of Raw_Excel_Files'

os.listdir('Raw_Excel_Files')

['UK.xlsx', 'FR.xlsx', 'DE.xlsx', 'UK_old.xlsx']

## Copy multiple files at once

In [ ]:
# find all absolute paths to our xlsx files in 'Raw_Excel_Files' with glob

path = 'Raw_Excel_Files'

# create a list filespaths that ..
# ... will contain the paths to all files with extension .xlsx
filespaths = glob.glob(os.path.abspath(path) + "/*.xlsx")
filespaths

['/content/gdrive/MyDrive/Raw_Excel_Files/UK.xlsx',
 '/content/gdrive/MyDrive/Raw_Excel_Files/FR.xlsx',
 '/content/gdrive/MyDrive/Raw_Excel_Files/DE.xlsx',
 '/content/gdrive/MyDrive/Raw_Excel_Files/UK_old.xlsx']

In [ ]:
cwd

'/content/gdrive/MyDrive'

In [ ]:
# copy the multiple files in the folder we want

dest = cwd # we want to copy our file in cwd MyDrive

# we want to copy all excel files in Raw_Excel_Files in dest
print(filespaths)
print(dest)

for file in filespaths:
    print(file)
    shutil.copy(file, dest)

['/content/gdrive/MyDrive/Raw_Excel_Files/UK.xlsx', '/content/gdrive/MyDrive/Raw_Excel_Files/FR.xlsx', '/content/gdrive/MyDrive/Raw_Excel_Files/DE.xlsx', '/content/gdrive/MyDrive/Raw_Excel_Files/UK_old.xlsx']
/content/gdrive/MyDrive
/content/gdrive/MyDrive/Raw_Excel_Files/UK.xlsx
/content/gdrive/MyDrive/Raw_Excel_Files/FR.xlsx
/content/gdrive/MyDrive/Raw_Excel_Files/DE.xlsx
/content/gdrive/MyDrive/Raw_Excel_Files/UK_old.xlsx

In [ ]:
# check the cwd containing again to notify the presense of excel files
os.listdir('.')

['Colab Notebooks',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'UK_old.xlsx',
 'Processed_Files',
 'Module_2',
 'Raw_Excel_Files',
 'New_Folder']

# 7.&nbsp;Move File

In [ ]:
# create a folder << Old_Files >> where we would like to move files 

# First: write the path to folder
folder_1 = cwd + '/' + 'Old_Files'
print(folder_1)

# Second: create the folder at the indicated path
os.makedirs(folder_1)

# check cwd
os.listdir('.')

/content/gdrive/MyDrive/Old_Files

['Colab Notebooks',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'UK_old.xlsx',
 'Processed_Files',
 'Module_2',
 'Raw_Excel_Files',
 'New_Folder',
 'Old_Files']

In [ ]:
# folder_to_move (it would be like cut/paste

file_to_move = '/content/UK_old.xlsx' # from directory content


shutil.move(file_to_move, # file/folder to cut
           folder_1) # folder where to move = '/content/gdrive/MyDrive/Old_Files/UK_old.xlsx'

'/content/gdrive/MyDrive/Old_Files/UK_old.xlsx'

In [ ]:
# check directory content
print('MyDrive: ', os.listdir('.'))  # now UK_old.xlsx has disapeared for content

print('')
# check directory Module_2/Old_Files
print('Old_Files: ', os.listdir('Old_Files'))  # now UK_old.xlsx has disapeared for content

MyDrive:  ['Colab Notebooks', 'UK.xlsx', 'FR.xlsx', 'DE.xlsx', 'UK_old.xlsx', 'Processed_Files', 'Module_2', 'Raw_Excel_Files', 'New_Folder', 'Old_Files']

Old_Files:  ['UK_old.xlsx']

# 5.&nbsp;Delete Files

In [ ]:
# reminder of cwd
cwd

'/content/gdrive/MyDrive'

In [ ]:
# check Old_Files containing

os.listdir('Old_Files')

['UK_old.xlsx']

## Delete file

In [ ]:
# delete a file UK_old.xlsx from Old_Files with os.unlink

os.unlink('Old_Files/UK_old.xlsx') # relative path as UK_old in the working directory

# check again Old_Files containing
os.listdir('Old_Files')

[]

In [ ]:
# check cwd
os.listdir('.')

['Colab Notebooks',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'UK_old.xlsx',
 'Processed_Files',
 'Module_2',
 'Raw_Excel_Files',
 'New_Folder',
 'Old_Files']

## Delete folder

There is a diference when deleting EMPTY and NOT empty folders:



1.   For ***EMPTY** use .rmdir function *from package os*
2.   For ***NOT EMPTY** use .rmtree function *from package shutil*

**EMPTY folder**

In [ ]:
# delete empty folder 'Old_Files' from cwd with os.rmdir

folder_to_remove= 'Old_Files'
os.rmdir(folder_to_remove)

In [ ]:
os.listdir('.')

['Colab Notebooks',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'UK_old.xlsx',
 'Processed_Files',
 'Module_2',
 'Raw_Excel_Files',
 'New_Folder']

*** NOT EMPTY folder**

In [ ]:
# list files inside a specific folder (get children)

print (os.listdir('New_Folder'))

['Inner_folder']

In [ ]:
# save path to New_FOlder
inner_folder = 'New_Folder/Inner_folder'

# prit parent of Inner_Folder
print(Path(inner_folder).parents[0])

New_Folder

In [ ]:
# delete NOT empty folder

# New_Folder contains another file 'Inner_folder'

shutil.rmtree('New_Folder') 

# check again cwd containing to certify that folder has disapeared

os.listdir('.')

['Colab Notebooks',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'UK_old.xlsx',
 'Processed_Files',
 'Module_2',
 'Raw_Excel_Files']

# 6.&nbsp;Work with Excel Files

In [ ]:
# Create a folder 'Processed_Files' in the cwd where we'll store all processed files 

des = cwd + '/' + 'Processed_Files'
os.makedirs(des)



1.  First read each excel files and put them into pandas dataframe
2.  Consolidate all excel files into a single excel with separate sheet by country
3.  Consolidate all excels into a single excel sheet

## Read excels

In [ ]:
# if the excel file has too many rows, when visualising the data, not all columns are displayed
# to overcome this we use .set_option method

# set visible all columns
pd.set_option('display.max_columns', None)

In [ ]:
os.listdir('Raw_Excel_Files')

['UK.xlsx', 'FR.xlsx', 'DE.xlsx', 'UK_old.xlsx']

In [ ]:
# DE.xlsx file from Raw_Excel_Files folder

# store the nme of the file in filename variable
filename = 'Raw_Excel_Files/DE.xlsx'
# read the excel file with .read_excel method
de = pd.read_excel(filename, # the file we want to read
                   index_col=None, # do not add column index
                   header=0) # the first row to be used as headers (column names)

# check dataframe shape
print('Dataframe Shape: ', de.shape)
print(de.columns)

de.head()

Dataframe Shape:  (673, 14)
Index(['Date', 'Name', 'Mannschaft', 'Rohe Prsenz (min)', 'Pause (Minuten)',
       'Nettoprsenz (Min.)', 'Behandlung (min)', 'DMT', 'Productiviy',
       'Processed tickets', 'Closed Tickets', 'FTE (processed)',
       'FTE (presence)', 'FTE weighted'],
      dtype='object')

,Date,Name,Mannschaft,Rohe Prsenz (min),Pause (Minuten),Nettoprsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted
0,2022-04-12,Employee_1,TEAM_1,102,0,102,4,00:02:08,0.6,2,1,0.00,0.25,0.00
1,2022-04-13,Employee_1,TEAM_1,299,0,299,168,00:42:00,0.4,4,2,0.50,0.75,0.50
2,2022-04-19,Employee_1,TEAM_1,478,0,478,275,00:16:12,2.0,17,16,0.75,1.00,0.75
3,2022-04-20,Employee_1,TEAM_1,427,0,427,142,00:12:56,1.4,11,10,0.50,1.00,0.50
4,2022-04-21,Employee_1,TEAM_1,482,0,482,129,00:16:12,1.0,8,8,0.50,1.00,0.50

In [ ]:
# add a column 'Country' to diferentiate the data in the consilidated dataframe
de['Country']= 'DE'

# check dataframe shape after adding the new column
print('Dataframe Shape: ', de.shape)

# visualize first rows
de.head()

Dataframe Shape:  (673, 15)

,Date,Name,Mannschaft,Rohe Prsenz (min),Pause (Minuten),Nettoprsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted,Country
0,2022-04-12,Employee_1,TEAM_1,102,0,102,4,00:02:08,0.6,2,1,0.00,0.25,0.00,DE
1,2022-04-13,Employee_1,TEAM_1,299,0,299,168,00:42:00,0.4,4,2,0.50,0.75,0.50,DE
2,2022-04-19,Employee_1,TEAM_1,478,0,478,275,00:16:12,2.0,17,16,0.75,1.00,0.75,DE
3,2022-04-20,Employee_1,TEAM_1,427,0,427,142,00:12:56,1.4,11,10,0.50,1.00,0.50,DE
4,2022-04-21,Employee_1,TEAM_1,482,0,482,129,00:16:12,1.0,8,8,0.50,1.00,0.50,DE

In [ ]:
print('nb of columns: ', len(de.columns))
print('nb of rows: ', len(de))
de.columns

nb of columns:  15
nb of rows:  673

Index(['Date', 'Name', 'Mannschaft', 'Rohe Prsenz (min)', 'Pause (Minuten)',
       'Nettoprsenz (Min.)', 'Behandlung (min)', 'DMT', 'Productiviy',
       'Processed tickets', 'Closed Tickets', 'FTE (processed)',
       'FTE (presence)', 'FTE weighted', 'Country'],
      dtype='object')

In [ ]:
# FR
filename = 'Raw_Excel_Files/FR.xlsx'
fr = pd.read_excel(filename, index_col=None, header=0)


# add a column 'Country' to diferentiate the data in the consilidated dataframe
fr['Country']= 'FR'

# check dataframe shape, dimensions after adding the new column
print('Dataframe Shape: ', fr.shape)
print('nb of columns: ', len(fr.columns))
print('nb of rows: ', len(fr))

# print column names 
print('column names: ', fr.columns)

# visualize first rows
fr.head()

Dataframe Shape:  (267, 15)
nb of columns:  15
nb of rows:  267
column names:  Index(['Date', 'Nom/Prnom', 'EQUIPE', 'Prsence brute (min)', 'Pause (min)',
       'Prsente nette (min)', 'Traitement (min)', 'DMT',
       'Productivit horaire', 'Tickets traits', 'Tickets clos',
       'FTE (traitement)', 'FTE (prsence)', 'FTE pondr', 'Country'],
      dtype='object')

,Date,Nom/Prnom,EQUIPE,Prsence brute (min),Pause (min),Prsente nette (min),Traitement (min),DMT,Productivit horaire,Tickets traits,Tickets clos,FTE (traitement),FTE (prsence),FTE pondr,Country
0,2022-04-12,Employee_1,TEAM_1,102,0,102,4,0.001481,0.6,2,1,0.00,0.25,0.00,FR
1,2022-04-19,Employee_1,TEAM_1,478,0,478,275,0.011250,2.0,17,16,0.75,1.00,0.75,FR
2,2022-04-20,Employee_1,TEAM_1,427,0,427,142,0.008981,1.4,11,10,0.50,1.00,0.50,FR
3,2022-04-21,Employee_1,TEAM_1,482,0,482,129,0.011250,1.0,8,8,0.50,1.00,0.50,FR
4,2022-04-22,Employee_1,TEAM_1,476,0,476,117,0.013634,0.8,6,6,0.25,1.00,0.25,FR

In [ ]:
# UK
filename = 'Raw_Excel_Files/UK.xlsx'
uk = pd.read_excel(filename, index_col=None, header=0)


# add a column 'Country' to diferentiate the data in the consilidated dataframe
uk['Country']= 'UK'

# check dataframe shape, dimensions after adding the new column
print('Dataframe Shape: ', uk.shape)
print('nb of columns: ', len(uk.columns))
print('nb of rows: ', len(uk))

# print column names 
print('column names: ', uk.columns)

# visualize first rows
uk.head()

Dataframe Shape:  (269, 15)
nb of columns:  15
nb of rows:  269
column names:  Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')

,Date,Name,Team,Presence,Pause (min),Presence net (min),Processed (min),DMT,Productivity hours,Processed tickets,Closed tickets,FTE (process),FTE (presence),FTE weighted,Country
0,2022-04-12,Employee_1,TEAM_1,102.0,0.0,102,4,0.001481,0.6,2,1,0.00,0.25,0.00,UK
1,2022-04-19,Employee_1,TEAM_1,478.0,0.0,478,275,0.011250,2.0,17,16,0.75,1.00,0.75,UK
2,2022-04-20,Employee_1,TEAM_1,4.0,0.0,427,142,0.008981,1.4,11,10,0.50,1.00,0.50,UK
3,2022-04-21,Employee_1,TEAM_1,482.0,0.0,482,129,0.011250,1.0,8,8,0.50,1.00,0.50,UK
4,2022-04-22,Employee_1,TEAM_1,476.0,0.0,476,117,0.013634,0.8,6,6,0.25,1.00,0.25,UK

In [ ]:
# save uk df as an excel in the Processed_Files folder

uk.to_excel("Processed_Files/uk_df.xlsx",
             sheet_name='UK')

In [ ]:
# and now in Processed_Files folder you'll have the new excel file "uk_df.xlsx" that you just created 
os.listdir('Processed_Files')

['uk_df.xlsx']

In [ ]:
#download file to local machine
files.download("Processed_Files/uk_df.xlsx")

## Single excel file with separate sheet by country

Create an excel file where country would be on a separate sheet

In [ ]:
# create excel writer in the Processed_Files folder with the name 'Consolidation_by_sheet'
writer = pd.ExcelWriter('Processed_Files/Consolidated_by_sheet.xlsx')
# write dataframe to excel sheet named 'marks'
uk.to_excel(writer, 'UK')
fr.to_excel(writer, 'FR')
de.to_excel(writer, 'DE')

# - > !!!! save and close the excel file (important)
writer.save()
writer.close()

In [ ]:
#download file to local machine
files.download("Processed_Files/Consolidated_by_sheet.xlsx")

In [ ]:
# and now in Processed_Files folder you'll have the new excel file "Consolidated_by_sheet.xlsx" that you just created 
os.listdir('Processed_Files')

['uk_df.xlsx', 'Consolidated_by_sheet.xlsx']

## Consolidate all excels into a single excel sheet

In [ ]:
frames = [de, fr, uk]

df_concat = pd.concat(frames)

print(df_concat.shape)

# display first rows
df_concat.head()

(1209, 34)

,Date,Name,Mannschaft,Rohe Prsenz (min),Pause (Minuten),Nettoprsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted,Country,Nom/Prnom,EQUIPE,Prsence brute (min),Pause (min),Prsente nette (min),Traitement (min),Productivit horaire,Tickets traits,Tickets clos,FTE (traitement),FTE (prsence),FTE pondr,Team,Presence,Presence net (min),Processed (min),Productivity hours,Closed tickets,FTE (process)
0,2022-04-12,Employee_1,TEAM_1,102.0,0.0,102.0,4.0,00:02:08,0.6,2.0,1.0,0.00,0.25,0.00,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-04-13,Employee_1,TEAM_1,299.0,0.0,299.0,168.0,00:42:00,0.4,4.0,2.0,0.50,0.75,0.50,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-04-19,Employee_1,TEAM_1,478.0,0.0,478.0,275.0,00:16:12,2.0,17.0,16.0,0.75,1.00,0.75,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-04-20,Employee_1,TEAM_1,427.0,0.0,427.0,142.0,00:12:56,1.4,11.0,10.0,0.50,1.00,0.50,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-04-21,Employee_1,TEAM_1,482.0,0.0,482.0,129.0,00:16:12,1.0,8.0,8.0,0.50,1.00,0.50,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# diplay last rows
df_concat.tail()

,Date,Name,Mannschaft,Rohe Prsenz (min),Pause (Minuten),Nettoprsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted,Country,Nom/Prnom,EQUIPE,Prsence brute (min),Pause (min),Prsente nette (min),Traitement (min),Productivit horaire,Tickets traits,Tickets clos,FTE (traitement),FTE (prsence),FTE pondr,Team,Presence,Presence net (min),Processed (min),Productivity hours,Closed tickets,FTE (process)
264,2022-04-14,Employee_24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.5,0.00,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_4,123.00,123.0,0.0,0.0,0.0,0.00
265,2022-04-24,Employee_24,NaN,NaN,NaN,NaN,NaN,0.008461,NaN,3.0,NaN,NaN,0.5,0.00,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_4,184.00,184.0,36.0,1.3,3.0,0.00
266,2022-04-29,Employee_24,NaN,NaN,NaN,NaN,NaN,0.003194,NaN,14.0,NaN,NaN,1.0,0.25,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_4,441.00,441.0,64.0,1.5,11.0,0.25
267,2022-04-24,Employee_25,NaN,NaN,NaN,NaN,NaN,0.008461,NaN,3.0,NaN,NaN,0.5,0.00,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_5,1.60,184.0,36.0,1.3,3.0,0.00
268,2022-04-29,Employee_26,NaN,NaN,NaN,NaN,NaN,0.003194,NaN,14.0,NaN,NaN,1.0,0.25,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_5,3.41,441.0,64.0,1.5,11.0,0.25

In [ ]:
# to consolidate multiple dataframes, there are 3 rules:
# they have to have the same nb of columns (here all 3 df have 15 columns)
# to concatenate by column names, all df have to have the same column names
# the dfs must have same column order

print("Column nb of DE: ", len(de.columns), de.columns)
print("Column nb of FR: ", len(fr.columns), fr.columns)
print("Column nb of UK: ", len(uk.columns), uk.columns)

Column nb of DE:  15 Index(['Date', 'Name', 'Mannschaft', 'Rohe Prsenz (min)', 'Pause (Minuten)',
       'Nettoprsenz (Min.)', 'Behandlung (min)', 'DMT', 'Productiviy',
       'Processed tickets', 'Closed Tickets', 'FTE (processed)',
       'FTE (presence)', 'FTE weighted', 'Country'],
      dtype='object')
Column nb of FR:  15 Index(['Date', 'Nom/Prnom', 'EQUIPE', 'Prsence brute (min)', 'Pause (min)',
       'Prsente nette (min)', 'Traitement (min)', 'DMT',
       'Productivit horaire', 'Tickets traits', 'Tickets clos',
       'FTE (traitement)', 'FTE (prsence)', 'FTE pondr', 'Country'],
      dtype='object')
Column nb of UK:  15 Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')

In [ ]:
# rename the dfs columns o they would be identical
# we will use english column names for all dfs

columns = uk.columns

fr.columns = columns
de.columns = columns

print("Column nb of DE: ", len(de.columns), de.columns)
print("Column nb of FR: ", len(fr.columns), fr.columns)
print("Column nb of UK: ", len(uk.columns), uk.columns)

Column nb of DE:  15 Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')
Column nb of FR:  15 Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')
Column nb of UK:  15 Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')

In [ ]:
# this time the concatenation of dfs is correct

df_concat = pd.concat(frames)

print(df_concat.shape)
df_concat.head()

(1209, 15)

,Date,Name,Team,Presence,Pause (min),Presence net (min),Processed (min),DMT,Productivity hours,Processed tickets,Closed tickets,FTE (process),FTE (presence),FTE weighted,Country
0,2022-04-12,Employee_1,TEAM_1,102.0,0.0,102,4,00:02:08,0.6,2,1,0.00,0.25,0.00,DE
1,2022-04-13,Employee_1,TEAM_1,299.0,0.0,299,168,00:42:00,0.4,4,2,0.50,0.75,0.50,DE
2,2022-04-19,Employee_1,TEAM_1,478.0,0.0,478,275,00:16:12,2.0,17,16,0.75,1.00,0.75,DE
3,2022-04-20,Employee_1,TEAM_1,427.0,0.0,427,142,00:12:56,1.4,11,10,0.50,1.00,0.50,DE
4,2022-04-21,Employee_1,TEAM_1,482.0,0.0,482,129,00:16:12,1.0,8,8,0.50,1.00,0.50,DE

In [ ]:
# last rows
df_concat.tail()

,Date,Name,Team,Presence,Pause (min),Presence net (min),Processed (min),DMT,Productivity hours,Processed tickets,Closed tickets,FTE (process),FTE (presence),FTE weighted,Country
264,2022-04-14,Employee_24,TEAM_4,123.00,0.0,123,0,NaN,0.0,0,0,0.00,0.5,0.00,UK
265,2022-04-24,Employee_24,TEAM_4,184.00,0.0,184,36,0.008461,1.3,3,3,0.00,0.5,0.00,UK
266,2022-04-29,Employee_24,TEAM_4,441.00,0.0,441,64,0.003194,1.5,14,11,0.25,1.0,0.25,UK
267,2022-04-24,Employee_25,TEAM_5,1.60,0.0,184,36,0.008461,1.3,3,3,0.00,0.5,0.00,UK
268,2022-04-29,Employee_26,TEAM_5,3.41,0.0,441,64,0.003194,1.5,14,11,0.25,1.0,0.25,UK

In [ ]:
# create excel writer in the Processed_Files with the name 'Consolidation'
writer = pd.ExcelWriter('Processed_Files/Consolidation.xlsx')

# write dataframe to excel sheet named 'marks'
df_concat.to_excel(writer, 'Consolidation')

# save the excel file
writer.save()
writer.close()

In [ ]:
# and now in Processed_Files folder you'll have the new excel file "Consolidation.xlsx" that you just created 
os.listdir('Processed_Files')

['uk_df.xlsx', 'Consolidated_by_sheet.xlsx', 'Consolidation.xlsx']

In [ ]:
#download file to local machine
files.download("Processed_Files/Consolidation.xlsx")

# 7.&nbsp;Reorganize Module_2 files

Reorganize your file in Drive...
Create a new folder Module_2
In this folder you want to add the notebook of the Module_2: 

*   File_Manipulation_Module_2.ipynb
*   Raw_Excel_Files folder with thier respectife files
*   Processed_Files folder with thier respectife files

In [ ]:
# First: 
# write the path to the "Raw_Files" sub_directory
folder = cwd + '/' + 'Module_2' # == > /content/gdrive/MyDrive/Module_2
print(folder)

# create the folder at the indicated path
os.makedirs(folder) # create an empty folder called << Module_2 >>

/content/gdrive/MyDrive/Module_2

FileExistsError: ignored

In [ ]:
os.listdir('.')

['Colab Notebooks',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'UK_old.xlsx',
 'Module_2',
 'Raw_Excel_Files',
 'Processed_Files']

Files_Manipulation_Module_2.ipynb

In [ ]:
# Files_Manipulation_Module_2.ipynb notebook is in Colab Notebooks folder

os.listdir('Colab Notebooks')

['Copy_Files_Manipulation_Collab-Sparrow.ipynb',
 'Files_Manipulation_Module_2.ipynb']

In [ ]:
# destination WHERE we want to copy 
dest = 'Module_2'

# source file : WHAT we want to copy from Colab Notebooks grab File_Manipulation notebook
# don't forget to add the extension .ipynb
src=  'Colab Notebooks/Files_Manipulation_Module_2.ipynb' 

#  copy the file from the source <<src>> in the folder we want << dest >>
shutil.copy(src, # what file we want to copy, more specifically its path
            dest) # path to the folder we want to paste the copied file

# check if the notebook was copied in Module_2 folder
os.listdir('Module_2')

['Files_Manipulation_Module_2.ipynb']

Processed Files Folder

In [ ]:
os.listdir('Module_2')

['Files_Manipulation_Module_2.ipynb']

In [ ]:
# create first a folder Processed Files

# write the path to the "Raw_Files" sub_directory
folder = 'Module_2/Processed_Files' # == > /content/gdrive/MyDrive/Module_2/Processed_Files
print(folder)

# create the folder at the indicated path
os.makedirs(folder) # create an empty folder called << Module_2 >>

os.listdir('Module_2')

Module_2/Processed_Files

['Files_Manipulation_Module_2.ipynb', 'Processed_Files']

In [ ]:
os.listdir('Module_2')

['Files_Manipulation_Module_2.ipynb', 'Processed_Files']

In [ ]:
# dest and source
src=  'Processed_Files' # from MyDrive
dest = 'Module_2/Processed_Files'

# copy the the excel files in 'Processed_Files'
shutil.copytree(src, # what file we want to copy, more specifically its path
                dest, # path to the folder we want to paste the copied file
                dirs_exist_ok=True)  # add dirs_exist_ok=True or remove if you get an error

# check if the notebook was copied in Module_2 folder
os.listdir('Module_2/Processed_Files')

['uk_df.xlsx', 'Consolidated_by_sheet.xlsx', 'Consolidation.xlsx']

Raw_Excel_Files

In [ ]:
# create first a folder Row Files

# write the path to the "Raw_Files" sub_directory
folder = 'Module_2/Raw_Excel_Files' # == > /content/gdrive/MyDrive/Module_2/Raw_Excel_Files
print(folder)

# create the folder at the indicated path
os.makedirs(folder) # create an empty folder called << Module_2 >>

os.listdir('Module_2')

Module_2/Raw_Excel_Files

['Files_Manipulation_Module_2.ipynb', 'Processed_Files', 'Raw_Excel_Files']

In [ ]:
# dest and source
src=  'Raw_Excel_Files' # from MyDrive
dest = 'Module_2/Raw_Excel_Files'

# copy the the excel files in 'Processed_Files'
shutil.copytree( src, dest,  dirs_exist_ok=True)  # add dirs_exist_ok=True or remove if you get an error

# check if the notebook was copied in Module_2 folder
os.listdir('Module_2/Raw_Excel_Files')

['UK.xlsx', 'FR.xlsx', 'DE.xlsx', 'UK_old.xlsx']

In [ ]:
os.listdir('Module_2')

['Files_Manipulation_Module_2.ipynb', 'Processed_Files', 'Raw_Excel_Files']

# 8.&nbsp;Reinitiate original folder

***!!!!!    Execute this section if you are sure you want to remove files/folders !!!!***

In [ ]:
os.listdir('/content')

['.config', 'DE.xlsx', 'UK.xlsx', 'gdrive', 'FR.xlsx', 'sample_data']

In [ ]:
# remove files from /content

os.unlink('/content/UK.xlsx')
os.unlink('/content/FR.xlsx')
os.unlink('/content/DE.xlsx')

In [ ]:
cwd

'/content/gdrive/MyDrive'

In [ ]:
os.listdir('.')

['Colab Notebooks', 'Module_2']

In [ ]:
# remove files from cwd

os.unlink('UK.xlsx')
os.unlink('UK_old.xlsx')
os.unlink('FR.xlsx')
os.unlink('DE.xlsx')

In [ ]:
# delete Raw_Excel_Files and 'Processed_Files' to reinitiate the whole folder

shutil.rmtree('Processed_Files')
shutil.rmtree('Raw_Excel_Files') 

os.listdir('.')

FileNotFoundError: ignored

In [ ]:
# remove folder Module_2

shutil.rmtree('Module_2')

In [ ]:
os.listdir('.')

['Colab Notebooks', 'Module_2']

In [ ]:
os.listdir('Module_2')

['Files_Manipulation_Module_2.ipynb', 'Processed_Files', 'Raw_Excel_Files']

In [ ]:
os.listdir('Module_2/Processed_Files')

['uk_df.xlsx', 'Consolidated_by_sheet.xlsx', 'Consolidation.xlsx']